
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 

 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	.navbar-collapse .navbar-nav:last-child{
		margin-left: auto;
	}
	.footer .footer_link{
		text-align: right !important;
	}
	/*.footer{ 
    position: absolute;
    width: 100%;
    bottom: 0;
	}*/
	iframe{
		height: 600px;
	}

	.left{
	position: absolute;
    display: inline-block;
    left: 0;
    width: 25%;
    top: 50%;
}
.right{
	position: absolute;
    display: inline-block;
    right: 0;
    width: 25%;
    top: 50%;
}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.nav-item:after{
		content: "|";
		position: absolute;
		display: inline-block;
		right: 0;
		top: 20%;
		color: #ffffff;
	} 
	.nav-item:last-child:after{
		display: none;
		content: "";
	}
	iframe{
		height: 600px;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	iframe{
		height: 650px;
	}
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 
	.grid ul li {
	    width: 45%;
	    padding: 10px;
	    margin-bottom: 10px;
	}
	.gallery.grid ul li{
	width: 100%;
}
	.li1, .li3 {
	    margin-right: 10px;
	}
	.grid ul li h2{
		font-size: 14px;
	}
	.grid ul li h4{
		font-size: 16px;
	}
	.grid ul li p{
		font-size: 12px;
	}
	#pageloader p{
		font-size: 16px;
	}
	.news-grid .grid-list{
		display: inline;
	}
	.media-left a{
		text-align: center;
	}
	.navbar{
		padding: 10px;
	}
	.footer{ 
		text-align: center;
	}
	.left{
		display: none;
	}
	.home-section h1{
		font-size: 18px;
	}
	.left h3, .right h3{
		font-size: 18px;
	}
	.center a{
		font-size: 20px;
	}
	td, th{
		font-size: 12px;
	}
	.hide-xs{
		display: none;
	}
	.section{
		padding:20px 0;
	}
	form{
		margin-bottom: 20px;
	}
	.t-404 h2{
	font-size: 120px !important;
	}
	.t-404 h3{
		font-size: 30px !important;
	}
	/* =================================================================== 
						ISOTOPE GRID
	======================================================================*/
	.isotope-grid.column-2 .grid-sizer,
	.isotope-grid.column-2 .grid-item { width: 100%; }
	/* GRID 3 COLUMN */
	.isotope-grid.column-3 .grid-sizer,
	.isotope-grid.column-3 .grid-item { width: 100%; }
	/* GRID 4 COLUMN */
	.isotope-grid.column-4 .grid-sizer,
	.isotope-grid.column-4 .grid-item { width: 100%; }
	
	.copyright,.footer-menu {
		margin-bottom:0!important;
		text-align:center;
	}
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 

		.t-404 h2{
		font-size: 200px;
	}
	.t-404 h3{
		font-size: 40px;
	}
	/* =================================================================== 
						ISOTOPE GRID
	======================================================================*/
	/* GRID 3 COLUMN */
	.isotope-grid.column-3 .grid-sizer,
	.isotope-grid.column-3 .grid-item { width: 50%; }
	/* GRID 4 COLUMN */
	.isotope-grid.column-4 .grid-sizer,
	.isotope-grid.column-4 .grid-item { width: 50%; }
	

}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { 

}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

}