

body{
	background-image: url("../images/bg/body.png");
	background-repeat: repeat;
	background-size: cover;
	background-position: 50% 50%;
	height: 100vh;
	background-color: #eddcb8;
	font-family:'Trebuchet MS';
	overflow-x: hidden;
}



 .table th{
 	text-transform: uppercase;
 }
  .table th p{
  	font-size: 12px;
  	text-transform: capitalize;
  	text-align: center;
  	margin-bottom: 0;
  }
  .table td{
  	font-weight: 600;
  	font-size: 14px;
  }
  .tariff .sub-content{
  	text-transform: uppercase;
  	font-size: 18px;
  	margin-bottom: 15px;
  }




/********** FONTS **********/

@font-face {
    font-family: 'ananda_neptouchregular';
    src: url('../fonts/ananda_neptouch-webfont.woff2') format('woff2'),
         url('../fonts/ananda_neptouch-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
font-family: 'Trebuchet MS';
font-style: normal;
font-weight: normal;
src: local('Trebuchet MS'), url('../fonts/trebuc.woff') format('woff');
}



/************ cloud *************/
.cloud {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/cloud.png");
  animation: animate 60s linear infinite;
  background-size: cover;
  z-index: 1;
  opacity: 0.6;
}

@keyframes animate {
  0% {
  	 background-position: -5440px;
    
  }
  100% {
   background-position: 0px;
  }
}




/***************** blink ********************/
.blink{
		text-align: center;
	}
	.blink a{
		font-size: 25px;
		font-family: cursive;
		color: white;
		animation: blink 1.5s linear infinite;
		transition:0.5s all ease-in-out;
	-webkit-transition:0.5s all ease-in-out;
	-moz-transition:0.5s all ease-in-out;
	-ms-transition:0.5s all ease-in-out;
	-o-transition:0.5s all ease-in-out;
	}
@keyframes blink{
0%{opacity: 0;
transition:0.5s all ease-in-out;
	-webkit-transition:0.5s all ease-in-out;
	-moz-transition:0.5s all ease-in-out;
	-ms-transition:0.5s all ease-in-out;
	-o-transition:0.5s all ease-in-out;}
50%{opacity: .5;
transition:0.5s all ease-in-out;
	-webkit-transition:0.5s all ease-in-out;
	-moz-transition:0.5s all ease-in-out;
	-ms-transition:0.5s all ease-in-out;
	-o-transition:0.5s all ease-in-out;}
100%{opacity: 1;
transition:0.5s all ease-in-out;
	-webkit-transition:0.5s all ease-in-out;
	-moz-transition:0.5s all ease-in-out;
	-ms-transition:0.5s all ease-in-out;
	-o-transition:0.5s all ease-in-out;}
}


/***********************************************************
						Page Loader
***********************************************************/
#pageloader {
    background-color: #ffffff;
    height: 100%;
    position: fixed;
    top: 0;
	left:0;
	right:0;
    width: 100%;
    z-index: 99999;
}

#pageloader div{
	display: inline-block;
	  position: absolute;
	   top: 45%;
	  left: 0;
	  right: 0;
	  margin: 0 auto;
	  text-align:center;
}
#pageloader p{
	margin-top: 15px;
	font-family: 'ananda_neptouchregular';
    font-size: 20px;
    color: #a2580d;
    animation: blink 1.5s linear infinite;
	 transition:0.5s all ease-in-out;
	 -webkit-transition:0.5s all ease-in-out;
	 -moz-transition:0.5s all ease-in-out;
	 -ms-transition:0.5s all ease-in-out;
	 -o-transition:0.5s all ease-in-out;
}

#pageloader img{
	  width: 100px;
	  height: 100px;
	 animation: blink 1.5s linear infinite;
	 transition:0.5s all ease-in-out;
	 -webkit-transition:0.5s all ease-in-out;
	 -moz-transition:0.5s all ease-in-out;
	 -ms-transition:0.5s all ease-in-out;
	 -o-transition:0.5s all ease-in-out;
	}

@keyframes blink{
0%{
	transform: scale(1,1);
transition:0.5s all ease-in-out;
	-webkit-transition:0.5s all ease-in-out;
	-moz-transition:0.5s all ease-in-out;
	-ms-transition:0.5s all ease-in-out;
	-o-transition:0.5s all ease-in-out;}
50%{transform: scale(1.2,1.2);
transition:0.5s all ease-in-out;
	-webkit-transition:0.5s all ease-in-out;
	-moz-transition:0.5s all ease-in-out;
	-ms-transition:0.5s all ease-in-out;
	-o-transition:0.5s all ease-in-out;}
100%{transform: scale(1.3,1.3);
transition:0.5s all ease-in-out;
	-webkit-transition:0.5s all ease-in-out;
	-moz-transition:0.5s all ease-in-out;
	-ms-transition:0.5s all ease-in-out;
	-o-transition:0.5s all ease-in-out;}
}




/*.lds-hourglass {
  display: inline-block;
  position: absolute;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align:center;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #ff851b;
  border-color: #ff851b transparent #ff851b transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

*/



.btn{
	background-image: linear-gradient(to right,#ff851b, #fa3222); 
	color: #ffffff;
	border:none;
	padding: 10px 25px;
	text-align: center;
	transition:0.5s all ease-in-out;
	-webkit-transition:0.5s all ease-in-out;
	-moz-transition:0.5s all ease-in-out;
	-ms-transition:0.5s all ease-in-out;
	-o-transition:0.5s all ease-in-out;
}

.btn:hover{
	color: #000;
	transition:0.5s all ease-in-out;
	-webkit-transition:0.5s all ease-in-out;
	-moz-transition:0.5s all ease-in-out;
	-ms-transition:0.5s all ease-in-out;
	-o-transition:0.5s all ease-in-out;
}
.form-control{
	margin-bottom: 10px;
}
form h4{
	color: #fa3322;
}

input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


/* STICKY WRAPPER */
#nav-sticker .sticky-logo,
.is-sticky .normal-logo  {
	display:none;
}
.is-sticky #nav-sticker .sticky-logo  {
	display: inline-block;
}
.is-sticky #nav-sticker {
	z-index:99;
	width:100%;
}
.is-sticky .navbar.navbar-default {
	background:#fff;
	box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.1);
	border-bottom:none;
	position:relative;
	top:0!important;
}
/*.navbar-nav{
	margin:0 auto;
}*/


/* =================================================================== 
							PROJECT GRID
======================================================================*/
/* PORTFOLIO SLIDER FILTER */
.filter-container {
	padding:30px 0;
	margin-bottom:70px;
    background: #011e9e;
}
.btn-filter-wrap {
	margin:0 -15px;
}
.btn-filter-wrap .btn-filter {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
	padding:0 15px;
}
.btn-filter-wrap .btn-filter.btn-active {
	text-decoration:underline;
}
.btn-filter-wrap .btn-filter.all-filter {
	opacity:0.3;
}
button.btn-link.btn-filter:focus {
    outline: none;
}
.btn-filter-wrap .btn-filter.all-filter.btn-active,.btn-filter-wrap .btn-filter.all-filter:hover {
	opacity:1;
}
.owl-carousel-filter.owl-carousel .item{
	transition: .8s;
	-webkit-transition: .8s;
	transform: translateX(0);
	-webkit-transform: translateX(0);
	opacity: 1;
}
.owl-carousel-filter.owl-carousel .item.__loading{
	opacity: 0;
	transform: translateX(40px);
	-webkit-transform: translateX(40px);
}
.isotope-filters .nav-tabs {
    border: medium none;
	margin:0 -10px;
}
.isotope-filters .nav-tabs > li {
    display: inline-block;
    float: none;
	padding:0 10px;
}
.isotope-filters .nav-tabs > li > a {
	text-transform:uppercase;
	font-weight:600;
	padding:0;
	border:none;
}
.isotope-filters .nav-tabs > li > a:hover,.isotope-filters .nav-tabs > li > a:focus,.isotope-filters .nav-tabs > li > a.active {
	color:#F3E200;
	text-decoration:underline;
	background:transparent;
}
.isotope-filters .portfolio-count {
    background: #111;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    right: 5px;
    text-align: center;
    top: -10px;
    width: 20px;
}
.isotope-filters .active .portfolio-count {
	color:#111;
}
.isotope-filters .portfolio-count:after {
	border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #111;
    bottom: -10px;
	left:0;
	right:0;
	margin:0 auto;
    content: "";
    height: 10px;
    position: absolute;
    width: 10px;
}
.black-bg .isotope-filters .portfolio-count:after {
	border-top: 5px solid #333
}
.black-bg .isotope-filters .portfolio-count {
	background:#333;
}
.black-bg .isotope-filters .nav-tabs > li > a::before {
    background: #fff;
}	
.dropdown.isotope-filters {
    display: inline-block;
}
.text-right .dropdown.isotope-filters .dropdown-menu {
	right:0;
	left:auto;
}
/* GRID 2 COLUMN */
.isotope-grid.column-2 .grid-sizer,
.isotope-grid.column-2 .grid-item { width: 50%; }
/* GRID 3 COLUMN */
.isotope-grid.column-3 .grid-sizer,
.isotope-grid.column-3 .grid-item { width: 33.3%; }
/* GRID 4 COLUMN */
.isotope-grid.column-4 .grid-sizer,
.isotope-grid.column-4 .grid-item { width: 25%; }
.isotope-grid {
	margin:0 -10px;
}
.isotope-grid .grid-item {
	padding:0 15px;
	margin-bottom:30px;
}
.isotope-grid.gutter-less {
	margin:0;
}
.isotope-grid.gutter-ten .grid-item {
    margin-bottom: 10px;
    padding: 0 5px;
}
.isotope-grid.gutter-less .grid-item {
	padding:0;
	margin:0;
}
/* GRID MODERN */
.grid-modern {
	overflow:hidden;
	position:relative;
}
.grid-modern:hover img {
	transform:scale(1.1);
}
.grid-modern img{
	margin: 0 auto;
}
.grid-modern .overlay-gradient {
	position:absolute;
	left:0;	right:0; top:0;
	height:100%;
	width:100%;
	background: linear-gradient(to top, rgba(0,0,0,0.2) 0%, transparent 90%);	
	background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.2) 0%, transparent 90%);	
	background: -moz-linear-gradient(bottom, rgba(0,0,0,0.2) 0%, transparent 90%);	
	background: -ms-linear-gradient(bottom, rgba(0,0,0,0.2) 0%, transparent 90%);	
	background: -o-linear-gradient(bottom, rgba(0,0,0,0.2) 0 %, transparent 90%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0 );
	z-index:1;
	transition:0.3s all ease-in-out;-webkit-transition:0.3s all ease-in-out;-moz-transition:0.3s all ease-in-out;-ms-transition:0.3s all ease-in-out;-o-transition:0.3s all ease-in-out;
}
.grid-modern:hover .overlay-gradient {
	background: linear-gradient(to bottom,transparent 60%,#288ac9);	
	background: -webkit-linear-gradient(to bottom,transparent 60%,#288ac9);	
	background: -moz-linear-gradient(to bottom,transparent 60%,#288ac9);	
	background: -ms-linear-gradient(to bottom,transparent 60%,#288ac9);	
	background: -o-linear-gradient(to bottom,transparent 60%,#288ac9);
	transition:0.3s all ease-in-out;-webkit-transition:0.3s all ease-in-out;-moz-transition:0.3s all ease-in-out;-ms-transition:0.3s all ease-in-out;-o-transition:0.3s all ease-in-out;

}
.grid-modern .overlay-gradient-gray {
	position:absolute;
	left:0;	right:0; top:0;
	height:100%;
	width:100%;
	background: linear-gradient(to top, rgba(0,0,0,0.6) 0%, transparent 30%);	
	background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.6) 0%, transparent 30%);	
	background: -moz-linear-gradient(bottom, rgba(0,0,0,0.6) 0%, transparent 30%);	
	background: -ms-linear-gradient(bottom, rgba(0,0,0,0.6) 0%, transparent 30%);	
	background: -o-linear-gradient(bottom, rgba(0,0,0,0.6) 0 %, transparent 30%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0 );
	z-index:1;
	transition:0.3s all ease-in-out;-webkit-transition:0.3s all ease-in-out;-moz-transition:0.3s all ease-in-out;-ms-transition:0.3s all ease-in-out;-o-transition:0.3s all ease-in-out;
}
.grid-modern .grid-details {
    bottom: 0;
    left: 0;
	padding:25px;
    position: absolute;
    right: 0;
    z-index: 1;
}
.grid-modern .grid-details h4 {
	line-height:27px;
	margin-bottom:0;
	color: #ffffff;
}	
.masonry-style .grid-modern .grid-details h4 {
	font-size:16px;
	line-height:22px;
}
.grid-modern .grid-details .grid-category {
	font-style:italic;
	color: #ffffff;
}
/* GRID NORMAL */
.grid-normal img {
	margin-bottom:20px;
}
.grid-normal .grid-details h4 {
	line-height:27px;
	margin-bottom:15px;
}
.floating-grid {
	margin-bottom:-250px!important;
	box-shadow: 0 50px 30px -30px rgba(0, 0, 0, 0.3);
}

/*********** banner right ***********/
.banner-right{
	position: relative;
	display: block;
}
.banner-right .overflow{
	text-align: center;
	position: absolute;
    display: inline-block;
    top: 7%;
    left: 0;
    right: 0;
    color: #ffffff;
    font-family: 'ananda_neptouchregular';
    padding: 0 10px;
}
.banner-right h5{
	color: #fb3922;
	font-size: 25px;
	font-weight: 900;
	line-height: 20px;
}
.banner-right h5 span{
	color: #ffffff;
	font-weight: 400;
	font-size: 14px;
	padding-bottom: 0;
}
.banner-right  span{
	font-size: 16px;
	padding: 10px;
	text-transform: capitalize;
}
.banner-right a{
	
    font-size: 22px;
    text-align: center;
    font-weight: 700;
    color: #fa3322;

  	animation: blink 1.5s linear infinite;
	transition:0.5s all ease-in-out;
	-webkit-transition:0.5s all ease-in-out;
	-moz-transition:0.5s all ease-in-out;
	-ms-transition:0.5s all ease-in-out;
	-o-transition:0.5s all ease-in-out;
	}

@keyframes blink{
0%{
	transform: scale(1,1);
transition:0.5s all ease-in-out;
	-webkit-transition:0.5s all ease-in-out;
	-moz-transition:0.5s all ease-in-out;
	-ms-transition:0.5s all ease-in-out;
	-o-transition:0.5s all ease-in-out;}
50%{transform: scale(1.2,1.2);
transition:0.5s all ease-in-out;
	-webkit-transition:0.5s all ease-in-out;
	-moz-transition:0.5s all ease-in-out;
	-ms-transition:0.5s all ease-in-out;
	-o-transition:0.5s all ease-in-out;}
100%{transform: scale(1.3,1.3);
transition:0.5s all ease-in-out;
	-webkit-transition:0.5s all ease-in-out;
	-moz-transition:0.5s all ease-in-out;
	-ms-transition:0.5s all ease-in-out;
	-o-transition:0.5s all ease-in-out;}
}

.banner-left .overflow{
	text-align: center;
	position: absolute;
    display: inline-block;
    bottom: 7%;
    left: 0;
    right: 0;
}
.banner-left  span{
	font-size: 16px;
	padding: 10px;
	text-transform: capitalize;
}
.banner-left a{
	
    font-size: 22px;
    text-align: center;
    font-weight: 700;
    color: #fa3322;

  	animation: blink 1.5s linear infinite;
	transition:0.5s all ease-in-out;
	-webkit-transition:0.5s all ease-in-out;
	-moz-transition:0.5s all ease-in-out;
	-ms-transition:0.5s all ease-in-out;
	-o-transition:0.5s all ease-in-out;
	}

@keyframes blink{
0%{
	transform: scale(1,1);
transition:0.5s all ease-in-out;
	-webkit-transition:0.5s all ease-in-out;
	-moz-transition:0.5s all ease-in-out;
	-ms-transition:0.5s all ease-in-out;
	-o-transition:0.5s all ease-in-out;}
50%{transform: scale(1.2,1.2);
transition:0.5s all ease-in-out;
	-webkit-transition:0.5s all ease-in-out;
	-moz-transition:0.5s all ease-in-out;
	-ms-transition:0.5s all ease-in-out;
	-o-transition:0.5s all ease-in-out;}
100%{transform: scale(1.3,1.3);
transition:0.5s all ease-in-out;
	-webkit-transition:0.5s all ease-in-out;
	-moz-transition:0.5s all ease-in-out;
	-ms-transition:0.5s all ease-in-out;
	-o-transition:0.5s all ease-in-out;}
}


.banner-left{
	position: relative;
	display: block;
}

.banner-left .overlay{
	position: absolute;
    display: inline-block;
    top: 4%;
    left: 15px;
    right: 15px;
    margin:0 auto;
    text-align: center;
}
.banner-left p{
	
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    color: #ffffff;
}
/********** home-section **********/

.home-section{
	text-align: center;
	background-image: url("../images/bg/home1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	height: 100vh;
	/*padding-top: 20px !important;*/
}
.home-section .container .col{
	z-index: 2;
}

.left h3,
.right h3{
	font-family: 'ananda_neptouchregular';
	color: #a2580d;
	font-weight: 500;
	font-size: 35px;
}
.home-section h1{
	font-family: 'ananda_neptouchregular';
	font-size: 30px;
	color: #a2580d;
	margin-bottom: 0;
}

.font{
	font-family: 'ananda_neptouchregular';
	color: #b4702b;
	font-weight: 500;
	font-size: 26px;
}

.font-1{
	font-family: 'ananda_neptouchregular';
	color: #ff821b !important;
	font-weight: 700 !important;
	font-size: 28px !important;
}
.center{
	position: relative;
	display: block;
}
.center a{
	position: absolute;
	display: inline-block;
	bottom: 17%;
	left: 0;
	right: 0;
	font-family: 'ananda_neptouchregular';
	font-size: 25px;
	color: #a2580d;
}

/********** grid **********/
.grid h3{
	color: #fa3322;
	text-align: center;
	font-size: 25px;
	text-transform: capitalize;
	border-bottom: 2px solid #c4c4c4;
	padding-bottom: 10px;
	font-weight: 700;
}
.grid img{
	/*padding: 15px;*/
}
.grid ul{
	padding: 0;
	list-style: none;
	text-align: center;
	margin-bottom: 0;
}
.gallery.grid ul li{
	width: 30%;
}
.grid ul li{
	display: inline-block;
	width: 40%;
	padding: 10px;
	margin-bottom: 20px;
}
.grid ul li p{
	text-align: center;
}
.grid ul li h2{
	color: #000;
	font-size: 18px;
	font-weight: 700;
}
.grid ul li h4{
	font-size: 32px;
	font-weight: 900;
	color: #ed2124;
}
.grid ul li p{
	font-size: 16px;
	font-weight: 700;
}
.li1,.li3{
	margin-right: 20px;
}
.li1,.li4{
	background-color: rgba(251, 59, 32, 0.1);
	border-top-right-radius: 80px;
	border-bottom-left-radius: 80px;
}
.li2,.li3{
	background-color: rgba(255, 125, 27, 0.4);
	border-top-left-radius: 80px;
	border-bottom-right-radius: 80px;
}
.sub-content{
	color: #fa3322;
	font-size: 20px;
	font-weight: 700;
}
.grid p{
	text-align: justify;
}
.grid h5{
	color: #fa3322;
	text-align: center;
}
.btn-grid{
	text-align: center;
	margin-bottom: 15px;
}
.footer{ 
	font-size: 12px;
	margin-top: 20px;
	padding: 0;
}
.footer .container{
	border-top: 2px solid #c4c4c4;
	padding-top: 10px;
}
.footer a{
	display: inline-block;
}
.grid .spl-p{
	font-weight: 700;
	text-align: center;
}
.grid .spl-pp{
	color: #a2580d;
	font-weight: 700;
	text-align: center;
	font-size: 20px;
}
.star-grid {
	position: relative;
	display: inline-block;
	margin-right: 5px;
}

.star-grid p{
	font-size: 14px;
	position: absolute;
	display: inline-block;
	left: 20%;
	right: 20%;
	top: 38%;
	text-align: center;
	margin-bottom: 0;
	font-weight: 600;
}
/********** NAVBAR **********/ 
.navbar{
	padding: 0;
}
.navbar-light .navbar-nav .nav-link{
	color: #ffffff;
}
.nav-link{
	text-transform: capitalize;
}
.nav-item{
	position: relative;
	display: block;
	padding: 0 7px;
}
.nav-section{
	position: absolute;
	display: inline-block;
	right: 0;
	bottom: 0;
}
.nav-section1{
	position: absolute;
	display: inline-block;
	left: 0;
	bottom: 0;
}


/********** SECTION **********/
.section{
	padding: 40px 0;
	position: relative;
	display: block;
}

/********** contact **********/

.contact img{
	float: left;
}
.contact address {
	margin-left: 40px;
}
.contact  a{

	margin-bottom: 20px;
	margin-left: 40px;
}
.contact h3{
	margin-bottom: 30px;
}
/************** 404 ***************/
.t-404{
	text-align: center;
}
.t-404 h2{
	font-size: 300px;
	text-align: center;
}
.t-404 h3{
	font-size: 50px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
/************** table **************/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {

  text-align: left;
  padding: 8px;
}
.table td, .table th{
	border-top:none;
}

.table-striped tr:nth-child(even) {
  background-color: rgba(255, 125, 27, 0.4);
}
.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(251, 59, 32, 0.1);
}
.custom-table td:first-child{
	background-color: rgba(255, 125, 27, 0.3);
}
.custom-table td:last-child{
	background-color: rgba(251, 59, 32, 0.1);
}

.custom-table tr:nth-child(even) {
  background-color: rgba(251, 59, 32, 0.1);
}
/********** modal **********/
.modal-header{
	padding: 5px 5px 0 0;
    border: 0;
}
.close{
	color: #fa3721;
	opacity:1;
}

/********* GALLERY SEC ******/

/* The Modal (background) */
.gallery-sec.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Modal Content */
.gallery-sec .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.gallery-sec .close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.gallery-sec .close:hover,
.gallery-sec .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.gallery-sec .mySlides {
  display: none;
}

.gallery-sec .cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.gallery-sec .prev,
.gallery-sec .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background: rgba(255, 255, 255, 0.5);
}

/* Position the "next button" to the right */
.gallery-sec .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.gallery-sec .prev:hover,
.gallery-sec .next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* Number text (1/3 etc) */
.gallery-sec .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}



.gallery-sec .caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.gallery-sec .demo {
  opacity: 0.6;
}

.gallery-sec .active,
.gallery-sec .demo:hover {
  opacity: 1;
}

.gallery-sec img.hover-shadow {
  transition: 0.3s;
}

.gallery-sec .hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/************** social **************/
.social{
	padding: 0;
	list-style: none;
	position: fixed;
	display: inline-block;
	bottom: 15px;
	right: 20px;
	margin-bottom: 0;
}
.social li{
	margin-bottom: 10px;
}
/********** a **********/
.dropdown-item.active, .dropdown-item:active
{
	background-color: #f68021;
}
.dropdown-item:focus, .dropdown-item:hover{
	color: #ffffff;
	background-color: #f68021;

}
a{
	display: block;
	color: #000000;
	transition:0.5s all ease-in-out;
	-webkit-transition:0.5s all ease-in-out;
	-moz-transition:0.5s all ease-in-out;
	-ms-transition:0.5s all ease-in-out;
	-o-transition:0.5s all ease-in-out;
}
a:hover{
	text-decoration: unset;
	color: #f68021;
	transition:0.5s all ease-in-out;
	-webkit-transition:0.5s all ease-in-out;
	-moz-transition:0.5s all ease-in-out;
	-ms-transition:0.5s all ease-in-out;
	-o-transition:0.5s all ease-in-out;
}

/********** Colors **********/
.bg-orange{
	background-color: #f68021;
	background-image: linear-gradient(to right,#ff851b, #fa3222); 
}
.red{
	color: #fa3322;
}

/********** gallery **********/
.gallery{
	padding: 0;
	list-style: none;
	text-align: center;
}
.gallery li{
	display: inline-block;
	margin: 0 10px 10px 0;
}

/********** ALIGN **********/
.align-center{
	text-align: center;
}
.align-left{
	text-align: left !important;
}
.align-right{
	text-align: right !important;
}
/********** PADDING **********/
.no-padding{
	padding: 0;
}


.display-inline{
	display: inline;
	margin-left: 10px !important;
}

.letter-spacing-2{
	letter-spacing: 2px;
}

